html, body{
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	min-width: 420px;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
}

img{
	max-width: 100%;
	width: 100%;
	border: 0;
}

a{
	text-decoration: none;
	color: #1b3664;
}

h1{
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 5px;
	color: #ffffff;
	font-weight: 300;
	text-transform: uppercase;
}

p{
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 5px;
	color: #ffffff;
	font-weight: 300;
}

.container{
	max-width: 1600px;
	margin: 0px auto;
	padding: 0px 50px;
}

#head, #body, #footer{
	z-index: 1;
}
	
#navigation{
	min-height: 100px;
	padding-top: 100px;
}

#logo{
	position: absolute;
	left: 50px;
	top: 28px;
	width: 280px;
}
		
#mobileMenuBtn {
	background: url('../images/hamburger.png') no-repeat;
	position: absolute;
	right: 50px;
	top: 40px;
	width: 29px;
	height: 23px;
	cursor: pointer;
	z-index: 999;
}

#menu{
	width: 100%;
	z-index: 999;
}

#menu  ul{
	background-color: #1b3664;	
	width: 100%;
}

#menu  ul li{
	display: block;
	list-style-type: none;
	color: #ffffff;
	font-size: 18px;
	line-height: 45px;
	text-transform: uppercase;
	border-top: 1px solid #ffffff;
}

#menu  > ul > li:last-child{
	border-bottom: 1px solid #ffffff;
}

#menu  > ul > li:first-child{
	border-top: none;
}

#menu ul ul.submenu{
	display: none;
	background-color: #454545;	
}

#menu ul ul.submenu li{
	display: block;
	width: 100%;
	color: #ffffff;
	font-size: 16px;
	line-height: 45px;
	font-weight: 300;
}

#menu ul li a{
	color: #ffffff;
	display: block;
	padding: 0px 20px;
}

#menu ul li a.arrow{
	background: url('../images/down_arrow_w.png') no-repeat right 50px center;
}

#menu ul ul li a{
	padding: 0px 40px;
}

#menu ul  li a:hover{
	background-color: #cccccc;
	color: #454545;
}
		
	
#banner{
	height: 320px;
	width: 100%;
	background: url('../images/banner.jpg') no-repeat bottom right;
	background-size: cover;
	padding-top: 55px;
}

@media only screen and (min-width: 840px) {

	h1{
		font-size: 48px;
		line-height: 54px;
		margin-bottom: 10px;
	}

	p{
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 10px;
	}
}

@media only screen and (min-width: 1301px) {

	h1{
		font-size: 72px;
		line-height: 80px;
	}

	p{
		font-size: 36px;
		line-height: 42px;
	}
	
	#navigation{
		min-height: 130px;
	}

	#logo{
		position: absolute;
		left: 50px;
		top: 28px;
		width: 380px;
		height: 60px;
		/*overflow: hidden;     This line was causing the logo to be cut off on a desktop sized screen*/
	}
		
	#mobileMenuBtn {
		display: none;
	}

	#menu{
		display: block;
		position: absolute;
		right: 50px;
		top: 55px;
		height: 55px;
		background: url('../images/menu_border.png') no-repeat bottom center;
		background-size: 100% 19px;
		text-align: right;
		width: auto;
		padding: 0;
	}

	#menu > ul{	
		background: transparent;
		height: 36px;
	}

	#menu > ul li{
		display: inline-block;
		color: #1b3664;
		font-weight: bold;
		line-height: 28px;
	}

	#menu > ul li a{
		display: inline-block;
		color: #1b3664;
		padding: 0;
	}

	#menu > ul li a:hover{
		background: transparent;
		color: #1b3664;
	}

	#menu > ul li a.arrow{
		background: url('../images/down_arrow.png') no-repeat right center;
		padding-right: 20px;
	}


	#menu > ul li.active{
		border-bottom: 2px solid #1b3664;
	}

	#menu ul ul.submenu{
		position: absolute;
		right: 0px;
		top: 42px;
		display: none;
		width: auto;
		background-color: #454545;
		text-align: left;
	}

	#menu ul ul.submenu li{
		white-space: nowrap;
	}

	#menu ul ul.submenu li a{
		color: #ffffff;
		display: block;
		line-height: 45px;
		min-height: 45px;
		padding: 0px 20px;
	}

	#menu ul ul.submenu li a:hover{
		background-color: #cccccc;
		color: #454545;
		display: block;
		line-height: 45px;
		min-height: 45px;
		padding: 0px 20px;
	}
	
	#menu > ul li:first-child::before{ 
		border-top: 0;
		content: '';    /*Added this line to make sure the first child didn't have '//' before it*/
		margin: 0px;    /*This line is to get rid of the extra space before the first child of the menu*/
	}

	#menu > ul::before{
		content: '<';
		font-size: 36px;
		line-height: 28px;
		font-weight: 300;
		margin: 0px 5px 0px 0px;
		vertical-align: text-bottom;  /* Added this line to align angle bracket with menu text*/
	}

	#menu > ul::after{
		content: '';
		margin: 0px 0px 0px 15px;
		content: '/>';
		font-size: 36px;
		line-height: 28px;
		font-weight: 300;
		vertical-align: text-bottom;   /* Added this line to align angle bracket with menu text*/
	}

	#menu > ul li::before { 
		content: '//';
		margin: 0px 25px;
		font-weight: 300;
	}

	#menu ul ul.submenu::before, #menu ul ul.submenu::after, #menu ul ul.submenu li::before{ 
		content: '';
		margin: 0;
	}

	#banner{
		height: 487px;
	}
}


